{% extends 'principal.html' %}


  {% block portada %}
  {% endblock %}


{% block contenido %}

<h2 style="text-align:center"><ins>Galeria Fotografica</ins></h2>
<br><br>

{% if album %}
<div class="container">
  <div class="row">

      {% for album in gal %}

    <div class="col-md-4">
      <div class="thumbnail">

        <a href="/album/{{album.id}}">
          <img src="/media/{{album.portada}}">
          <div class="caption">
            <p style="text-align:center">{{album.titulo}}</p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}

    {% endif %}

    </div>

    <br><br>
</div>

{% endblock %}
