  {% extends 'principal.html' %}


  {% block portada %}
  {% endblock %}


{% block contenido %}

<h2 style="text-align:center"><ins>{{album.titulo}}</ins></h2>
<br><br>

{% if imagenes %}
<div class="container">
  <div class="row">

      {% for foto in imagenes %}

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/media/{{foto.imagen}}"
          <div class="caption">
            <h6 style="text-align:center">{{foto.pie}}</h6>
          </div>
        &lt;
      </div>
    </div>
    {% endfor %}

    </div>

    <br><br>
</div>
{%endif%}
{% endblock %}

{% block visitas %}
{% endblock %}
