<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends 'principal.html' %}


  {% block portada %}
  {% endblock %}


{% block contenido %}

<h2 style="text-align:center"><ins>{{album.titulo}}</ins></h2>
<br><br>

{% if object_list %}
<div class="container">
  <div class="row">

      {% for album in object_list %}

    <div class="col-md-4">
      <div class="thumbnail">

          <img src="Fotos_files/album.html">
          <div class="caption">
            <h6 style="text-align:center">{{album.titulo}}</h6>
          </div>
        &lt;
      </div>
    </div>
    {% endfor %}

    </div>

    <br><br>
</div>
{%endif%}
{% endblock %}

{% block visitas %}
{% endblock %}</body></html>