{% extends 'principal.html' %}


  {% block portada %}
  {% endblock %}


{% block contenido %}

{% if user.is_staff %}
     <br>


 {% endif %}

<h2 style="text-align:center"><ins>Cultos a Ntra. Madre y Patrona</ins></h2>
<br><br>

{% if object_list %}
<div class="container">
  <div class="row">

      {% for culto in object_list %}

    <div class="col-md-4">
      <div class="thumbnail">

        <a href="/culto/{{culto.id}}">
          <img src="/media/{{culto.imagen}}" style="img-responsive" width="700px">
          <div class="caption">
           <h6 style="text-align:center">{{culto.culto}}</h6>
          </div>
        </a>

      </div>
    </div>
    {% endfor %}

{% endif %}
</div>
<br><br>
</div>

{% endblock %}

{% block visitas %}
{% endblock %}
