{% extends 'principal.html' %}


  {% block portada %}
  {% endblock %}


{% block contenido %}

{% if user.is_staff %}
     <br>


 {% endif %}

<h2 style="text-align:center"><ins>Cultos a Ntra. Madre y Patrona</ins></h2>
<br><br>

{% if object_list %}
<div class="container">
  <div class="row">

      {% for culto in object_list %}

    <div class="col-md-4">
      <div class="thumbnail">

        <a href="/culto/{{culto.id}}">
          <img src="/media/{{culto.imagen}}">
          <div class="caption">
            <p style="text-align:center">{{culto.culto}}</p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}

    {% else %}
      <h2 style="text-align:center"> No hay Cultos insertados</h2>
      <br><br><br>
    {% endif %}

    </div>
    <br><br>
    {% if user.is_staff %}

      <input type="button" class="btn-default btn-lg" value="Añadir Culto" onclick="location.reload();location.href='/nuevoCulto/'"/>      <br>

    {% endif %}
    <br><br>
</div>

{% endblock %}
